<!DOCTYPE html>
<html>
  <head>
    <title>Caleb_Jobe</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:teal">
  <!-- Header -->
<div class="header">
    <img src = "logo1.png">
  </div>
  
  <!-- Navigation Bar -->
  <div class="navbar">
              <img src="git.png" class="icons"style="background-color: lightblue">
              <img src="email.png" class="icons" style="background-color: coral">
              <img src="linkedin.png" class="icons"style="background-color: lightblue">
              <img src="phone.png" class="icons"style="background-color: coral">
  </div>
  
  <!-- The flexible grid (content) -->
  <div class="row">
      <div class="column" style="padding-left: 2%">
          <div class="wrapper">
        <div class="grid_element" style="background-color: lightblue">

            <h1 class="header1">
                About Me
              </h1>
              <div style="padding-left:10px">
        <h1>Caleb Jobe</h1>
        <h2 style="font-size: 20px"> Cyber Engineer - DevOps Engineer - Software Developer</h2>
        <p style="font-size: 16px; color:black">Upcoming summer graduate with two years of experience in industry and a certified scrum developer seeking a software development position.  I thrive in self-directed and team-oriented positions.  I’m a hard worker and am always eager to learn new technologies and skills.</p> 
      </div>
      </div>
        </div>
        <div class="wrapper">

        <div class="grid_element">

          <h1 class="header2">
            Skills
          </h1>
          <div class="row1">
              <div class="column1">
          <img src="js.png" class="skills"style="background-color: lightblue">
          <img src="html.png" class="skills"style="background-color: coral">
        </div>
          <div class="column1">
          <img src="python.png" class="skills"style="background-color: coral">
          <img src="git1.png" class="skills"style="background-color: lightblue">
        </div>
          <div class="column1">
          <img src="react.png" class="skills"style="background-color: lightblue">
          <img src="redhat.png" class="skills"style="background-color: coral">
          </div>
          </div>
        </div>
        </div>
      </div>
    <div class="column">
        <div class="wrapper">
      
        <div class="grid_element">
            <h1 class="header3">
                Project
              </h1>
        <img src="app2.PNG">
    </div>
  </div>
    <div class="wrapper">
    <div class="grid_element">
    <h1 class="header3">
        Project
      </h1>
<img src="app3.PNG">
</div>
  </div>
</div>
    <div class="column">
        <div class="wrapper">
        <div class="grid_element">
            <h1 class="header3">
                Project
              </h1>
        <img src="app2.PNG">
    </div>
  </div>
</div>

  </div>
  
  <!-- Footer -->

  
  </body>
  </html>
  