<!DOCTYPE html>
<html>
  <head>
    <title>Caleb_Jobe</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" style="background-color:white">
        <h1 id="title1">Caleb Jobe</h1>
        <h2 id="title2">Devops Engineer • Designer • Developer</h2>
      </div>
      <div class="container-fluid" style="border:5px solid">
        <div class="row">
          <a
            data-toggle="modal"
            href="#myModal1"
            class="col-sm-4"
            style="background-color:rgb(8, 8, 59);color:whitesmoke"
          >
            <h1>Academic</h1>
          </a>
          <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title">Academic</h4>
                </div>
                <div class="modal-body">
                  <h2>BA Cyber Engineering, Lousiana Tech University</h2>
                  <p>
                    Minor in Mathematics • Dean’s list x 2 • GPA 3.0 Course Work
                    - Embedded systems, Network security, Digital Design,
                    Circuits, Thermodynamics, Software Engineering, Operating
                    Systems, Adv Networks, Networks, Intermediate Programming
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>

          <a
            data-toggle="modal"
            href="#myModal2"
            class="col-sm-4"
            style="background-color:#9e9e72;color:whitesmoke;"
          >
            <h1>Professional</h1>
          </a>
          <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title">Professional</h4>
                </div>
                <div class="modal-body">
                  <pre>
                      MAY 2017 – TO PRESENT
                      ASSOCIATE CONSULTANT, FENWAY GROUP
                      FEB 2018 – TO PRESENT
                      DEVOPS ENGINEER, SOUTHWEST AIRLINES
                      My responsibilities include developing deployment automation using Chef and Jenkins, making improvements to network infrastructure, and testing and deploying code releases.
                      MAY 2017 – TO FEB 2018
                      SOFTWARE DEVELOPER, CENTURYLINK
                      While on the Century Data Assurance pod, I was on four-man scrum development team.  We were tasked with building an application using JavaScript and Electron to streamline the process of identifying and sorting critical data.
                      </pre
                  >
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <a
            data-toggle="modal"
            href="#myModal3"
            class="col-sm-4"
            style="background-color:rgb(8, 8, 59);color:white;"
          >
            <h1>Side Stuff</h1>
          </a>
          <div id="myModal3" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
