#title1 {
  color: darkslategrey;
  font-family: 'Source Code Pro', monospace;
}
#title2 {
  color: #003366;
  font-family: 'Source Code Pro', monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
}
.icons {
  height: 60px;
  width: 60px;
  padding: 10px;
  text-align: center;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color:teal;
  justify-content: center;
}
.header2 {
background-color: darkslategrey;
color:lightgrey;
opacity: 30%;
text-align: center;
z-index: 10;

}

.header3 {
  background-color: darkslategrey;
  opacity: 30%;
  color:lightgrey;
  text-align: center;
  
  }
  .header1 {
    background-color: darkslategrey;
    opacity: 30%;
    color:lightgrey;
    text-align: center;
    
    }
/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
.column1 {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
.grid_element{
background-color: coral;
  vertical-align: middle;
  width:100%;
  height:50%;
  border-style: solid;
  border-width: 7px;
  border-color: black;
}
  .wrapper{
    margin-top:15px;
  }
  .skills{
    border-radius: 10%;
border-style:solid;
border-color:black;
border-width: 5px;
margin:3px;
  }

.column img {
  vertical-align: middle;
  width:100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
